NEXT_PUBLIC_SUPABASE_URL=https://eamywkblubazqmepaxmm.supabase.co 
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhbXl3a2JsdWJhenFtZXBheG1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1Njk1MDQsImV4cCI6MjA3NzE0NTUwNH0.cIPNXeNjsLjK76o34KU3uyAMxQcnZ8DSpP6ESRE5GOY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhbXl3a2JsdWJhenFtZXBheG1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTU2OTUwNCwiZXhwIjoyMDc3MTQ1NTA0fQ.wD0a8i9LUSVYvCrzOcyF9hjy5kkXbTda1ViMNCys8eU
